@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Satoshi-Light.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Satoshi-Regular.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Satoshi-Medium.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Satoshi-Bold.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Satoshi-Black.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/pretendard@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/pretendard@latest/latin-400-normal.woff)
      format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/pretendard@latest/latin-500-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/pretendard@latest/latin-500-normal.woff)
      format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/pretendard@latest/latin-700-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/pretendard@latest/latin-700-normal.woff)
      format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/pretendard@latest/latin-900-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/pretendard@latest/latin-900-normal.woff)
      format("woff");
}
